<%= form_with model: @project, data: { remote: true, controller: "hotwire", action: "ajax:error->hotwire#showErrors" } do |form| %>
  <div>
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
    <%= render "shared/form_error", error_field: "name" %>
  </div>
  <div class="mt-4">
    <%= form.submit "Create project", class: "btn btn-primary w-full" %>
  </div>
<% end %>
