<header class="h-14 bg-white border-b px-4 z-10 flex items-center justify-between">
  <div>
    <%= link_to "Home", root_path, class: "hover:text-gray-700" %>
  </div>
  <div class="flex items-center space-x-3">
    <% if Current.user %>
      <%= yield %>
      <%= link_to "Logout", signout_path, method: :delete, class: "btn btn-default" %>
    <% else %>
      <%= link_to "Login", new_session_path, class: "btn btn-default" %>
      <%= link_to "Sign up", new_user_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</header>
